# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [74]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"


df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [76]:
#Cleaning up Column names of df1


df1.rename(columns={"ST": "State", 
                    "GENDER":"Gender", 
                    "Customer Lifetime Value": "Customer_lifetime_value",
                    "Monthly Premium Auto":"Monthly_premium_auto",
                    "Number of Open Complaints": "Number_of_open_complaints",
                    "Policy Type":"Policy_type",
                    "Vehicle Class": "Vehicle_class",
                    "Total Claim Amount":"Total_claim_amount",}, inplace=True)

df1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_lifetime_value',
       'Income', 'Monthly_premium_auto', 'Number_of_open_complaints',
       'Policy_type', 'Vehicle_class', 'Total_claim_amount'],
      dtype='object')

In [78]:
#Cleaning up Column names of df2
df2.rename(columns={"ST": "State", 
                    "GENDER":"Gender", 
                    "Customer Lifetime Value": "Customer_lifetime_value",
                    "Monthly Premium Auto":"Monthly_premium_auto",
                    "Number of Open Complaints": "Number_of_open_complaints",
                    "Policy Type":"Policy_type",
                    "Vehicle Class": "Vehicle_class",
                    "Total Claim Amount":"Total_claim_amount",}, inplace=True)
df2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_lifetime_value',
       'Income', 'Monthly_premium_auto', 'Number_of_open_complaints',
       'Total_claim_amount', 'Policy_type', 'Vehicle_class'],
      dtype='object')

In [80]:
#Cleaning up Column names of df3
df3.rename(columns={"ST": "State", 
                    "GENDER":"Gender", 
                    "Customer Lifetime Value": "Customer_lifetime_value",
                    "Monthly Premium Auto":"Monthly_premium_auto",
                    "Number of Open Complaints": "Number_of_open_complaints",
                    "Policy Type":"Policy_type",
                    "Vehicle Class": "Vehicle_class",
                    "Total Claim Amount":"Total_claim_amount",}, inplace=True)
df3.columns

Index(['Customer', 'State', 'Customer_lifetime_value', 'Education', 'Gender',
       'Income', 'Monthly_premium_auto', 'Number_of_open_complaints',
       'Policy_type', 'Total_claim_amount', 'Vehicle_class'],
      dtype='object')

In [82]:
full_df = pd.concat([df1, df2, df3], axis=0, join= "outer")

full_df.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_lifetime_value',
       'Income', 'Monthly_premium_auto', 'Number_of_open_complaints',
       'Policy_type', 'Vehicle_class', 'Total_claim_amount'],
      dtype='object')

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [176]:
import pandas as pd

url4 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
marketing_df = pd.read_csv(url4)

marketing_df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [131]:
# Goal SALES CHANNEL , total revenue, pivot total revenue each sales channel, round 2 decimals

In [134]:
marketing_df["sales_channel"].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [136]:
marketing_df["sales_channel"].isna().sum()

0

In [138]:
marketing_df['customer_lifetime_value'].isnull().sum()

0

In [162]:
marketing_df.groupby('sales_channel')['customer_lifetime_value'].agg(['sum']).round(2)

                       sum
sales_channel
Agent          33057887.85
Branch         24359201.21
Call Center    17364288.37
Web            12697632.90

In [180]:
#marketing_df = marketing_df.pivot_table(index='customer_lifetime_value', columns='gender',"education", values=['gender'], aggfunc='mean')

pivot_df = marketing_df.pivot_table(index=['gender', 'education'], values=['customer_lifetime_value'], aggfunc='mean')                   
pivot_df

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here